<div class="container-fluid dashboard">
    <div class="row divLogin">
        <div class="col-6">
            <span class="title">Money Exchange</span>
        </div>
        <div class="col-6 text-right">
            <a class="logout" href="javascript:void(0)" (click)="logout()">
                <span>Sign out <i class="fa fa-sign-out"></i></span>
            </a>
            
        </div>
    </div>

    <div class="row divLogo">
        <div class="col-12 text-center">
            <!-- <h2>Money Exchange</h2> -->
            <img src="https://www.investopedia.com/thmb/M-we6mdLUgezNP-XsAoli0Lf070=/2121x1414/filters:fill(auto,1)/GettyImages-974812152-705d0a6d517947fb8946a3c887d528be.jpg" alt="Money Exchange" class="img-thumbnail">
        </div>
    </div>
    <div class="row divCurrencyButton">
        <div class="col-12 text-center">
            <button class="btn btn-light currencyButton" disabled>$</button>
            <button class="btn btn-light currencyButton" disabled>€</button>
            <button class="btn btn-light currencyButton" disabled>¥</button>
            <button class="btn btn-light currencyButton" disabled>£</button>
        </div>
    </div>
    <form [formGroup]="formExchange">
        <div class="row divCurrencyExchange">
            <div class="col-12 text-center divTimer">
                <span>{{minuteString}} : {{timeString}}</span>
            </div>
            <div class="col-6">
                <input formControlName="startCurrency"
                placeholder="USD"
                class="form-control"
                (keypress)="keyPress($event)"
                (blur)="transformAmountUSD($event)"
                maxlength="15"
                >
            </div>
            <div class="col-6">
                <input formControlName="targetCurrency"
                placeholder="EU"
                class="form-control"
                >
            </div>
            <div class="col-12 text-center">
                <button class="btn btn-info divCalculate" (click)="calculate()">
                    CALCULATE
                </button>
            </div>
        </div>
    </form>
    <div class="row space">

    </div>
    <div class="row footer text-right">
        <div class="col-12">
            <span>Developed by <a target="_blank" href="https://github.com/linkinrodx">Rodrigo Saraya</a></span>
        </div>
    </div>
</div>